@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;

  --color-planit-primary: #079669;
  --color-planit-primary-dark: #087a58;
  --color-planit-primary-light: #eaf6f1;

  --color-planit-teal: #123b4a;

  --color-planit-background: #fcfdfc;
  --color-planit-surface: #ffffff;

  --color-planit-heading: #18384a;
  --color-planit-text: #35566a;
  --color-planit-text-muted: #58738b;

  --color-planit-border: #e1e8e8;
  --color-planit-gray: #e5ecee;

  --color-planit-danger: #dc4c4c;
}
